.logo {
  display: inline-block;

  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

  &.beeline {
    width: 115px;
    height: 25px;

    background-image: url('/static/logo/Beeline_logo_2021.png');
  }

  &.beeInterns {
    width: 120px;
    height: 21px;

    background-image: url('/static/logo/beeInterns.svg');
  }

  &.frontendZavtrak {
    width: 80px;
    height: 35px;

    background-image: url('/static/logo/frontend-zavtrak.svg');
  }
}

